*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav {
    display: flex;
    overflow: auto;
    background-color: rgba(255, 254, 251, 0.5);
    border-radius: 5px;
  }
.sticky{
  position: fixed;
  left: 1000px;;
  top: 0;
}
.splash-page{
  display: flex;
  flex-direction: column;
  background: rgb(255, 254, 251);
}
  /* For the aesthetics */
  .nav-button{
    position: sticky;
    color:rgb(14, 14, 14);
    font-size: large;
    padding: 5px;
    padding-left: 50px;
  }
  .nav-button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .nav-button span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .nav-button:hover span {
    padding-right: 25px;
  }
  .nav-button:hover span::after {
    opacity: 1;
    right: 0;
  }
  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .globalTitleBox{
    display: flex;
    font-size: 50px;
    justify-content: center;
  }
  .secondTitleBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    padding-left: 100px;
    margin: 20px;
    font-size: 40px;
  }
  .thirdTitleBox{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 100px;
    margin: 20px;
    font-size: 30px;
  }
  .fourthTitleBox{
    display: flex;
  }
  .textBox{
    display: flex;
    font-size: 25px;
    max-width: 50%;
    margin: 20px;
  }
  .img{
    max-width: 25%;
    border-radius: 5px;
  }
  .Wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px;
  }
