*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav {
    display: flex;
    background-color: rgba(255, 254, 251, 0.5);
    border-radius: 5px;
    justify-content: flex-end;
  }
.sticky{
  position: fixed;
  top:0;
  left: 1000px;
}

.splash-page{
  display: flex;
  flex-direction: column;
  background: rgb(255, 254, 251);
}
  /* For the aesthetics */
  .nav-button{
    color:rgb(14, 14, 14);
    font-size: large;
    padding-left: 50px;
  }
  .nav-button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .nav-button span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .nav-button:hover span {
    padding-right: 25px;
  }
  .nav-button:hover span::after {
    opacity: 1;
    right: 0;
  }
  .about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .globalTitleBox{
    display: flex;
    font-size: 50px;
    justify-content: center;
  }
  .secondTitleBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    margin: 20px;
    font-size: 40px;
  }
  .thirdTitleBox{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 45px;
    margin: 20px;
    font-size: 30px;
  }
  .textBox{
    display: flex;
    font-size: 20px;
    text-align: start;
  }
  .personalImg{
    width: 30%;
    border-radius: 5px;
    height: auto;
  }
  .Wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px;
  }
  .miniWrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px;
    max-width: 40%;
  }
  .contactContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
  }
  .iconBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
  }
  .icon{
    width: 40px;
  }
  .icon:hover{
    transform: scale(1.1);
    transition: 0.5s;
  }
  #github{
    padding: 20px;
  }
  #linkedin{
    padding: 20px;
  }
  #instagram{
    padding: 20px;
  }
  #xText{
    font-size: 25px;
    text-decoration: underline;
  }
  .listBox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px;
  }
  button{
    border-radius: 5px;
    border: transparent;
    background-color: #e16259;
    color:white;
    margin: 10px;
    font-weight: bold;
  }
  button:hover{
    transform: scale(1.1);
    transition: 0.5s;
  }
  .buttonWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
  }
